__pycache__
demo

Pipfile.lock
/sample*

.env
database.pkl
database.xlsx
scraper.log
/**/bat/

checkUrlList.json
test*
!tests/
!tests/test_source_sync.py
!tests/test_firestore_repository.py
/**/tmp/
/**/*.Identifier

ws-db-11235813-firebase-adminsdk-*
